@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css');

h1 {
  color: #2c2c2c;
}
.card {
  // margin-bottom: 20px;
  // margin-left: 10px;
  .img-wrapper {
    margin: 20px auto;
    height: 150px;
    .card-img-top {
      max-width: 100px;
      height: auto;
    }
  }


  .card-title,
  .card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.product-detail-right {
  margin-top: 20px;
}

.page-header {
  background-color: aqua;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
  border-bottom: 5px solid #2c2c2c;
}